{% extends 'base.html.twig' %}

{% block title %}Filtrer{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/search.css') }}">
{% endblock %}

{% block main %}

    <main>
        <section class="info">
            <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
            <p>Participant : {{ app.user.firstName|capitalize }} {{ app.user.lastName|slice(0,1)|upper }}.</p>
        </section>

        <section class="filter">
            {{ form_start(searchForm) }}

            <fieldset>
                <legend>Filtrer les sorties</legend>
                <div class="form-left">
                    <div class="form-row">
                        {{ form_row(searchForm.site) }}
                        {{ form_row(searchForm.outingName) }}
                    </div>
                    <div class="form-row date-row">
                        {{ form_row(searchForm.startDate) }}
                        {{ form_row(searchForm.endDate) }}
                    </div>
                </div>
                <div class="form-right">
                    {% for checkbox in [
                        searchForm.isOrganizer,
                        searchForm.isParticipant,
                        searchForm.isNotParticipant,
                        searchForm.isPast
                    ] %}
                        <div class="form-group">
                            <label>
                                {{ form_widget(checkbox) }}
                                {{ form_label(checkbox) }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <button class="btn btn-primary">Rechercher</button>

            </fieldset>

            {{ form_end(searchForm) }}
        </section>

        <section>
             <a href="{{ path('outing_create') }}"><button>Créer une sortie</button></a>
        </section>

        <section class="results">
            {% if outings is not empty %}
                <table>
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outing in outings %}
                        <tr>
                            <td>{{ outing.name }}</td>
                            <td>{{ outing.startingDateTime|date("d/m/Y H:i") }}</td>
                            <td>{{ outing.registrationDeadline|date("d/m/Y") }}</td>
                            <td>{{ outing.participants|length }} / {{ outing.maxParticipants }}</td>
                            <td>{{ outing.status.label.value }}</td>
                            <td>
                                {% if outingAuth.isUserParticipant(outing, user) %}
                                    x
                                {% endif %}
                            </td>
                            <td><a href="{{ path('participant_show_profile', {'id': outing.organizer.id}) }}">{{ outing.organizer.username }} / {{ outing.organizer.firstname|capitalize }} {{ outing.organizer.lastName|slice(0,1)|upper }}.</a></td>
                            <td>
                                {% if outingAuth.canUserDisplay(outing, user) %}
                                    <a href="{{ path('outing_detail', {'id': outing.id}) }}">Afficher</a>
                                {% endif %}

                                {% if outingAuth.canUserUnregister(outing, user) %}
                                    <a href="{{ path('outing_unregister', {'id': outing.id}) }}">Se désister</a>
                                {% endif %}

                                {% if outingAuth.canUserRegister(outing, user) %}
                                    <a href="{{ path('outing_register', {'id': outing.id}) }}">S'inscrire</a>
                                {% endif %}

                                {% if outingAuth.canUserUpdate(outing, user) %}
                                    <a href="{{ path('outing_update', {'id': outing.id}) }}">Modifier</a>
                                {% endif %}

                                {% if outingAuth.canUserPublish(outing, user) %}
                                    <a href="{{ path('outing_publish', {'id': outing.id}) }}">Publier</a>
                                {% endif %}

                                {% if outingAuth.canUserCancel(outing, user) %}
                                    <a href="{{ path('outing_cancel', {'id': outing.id}) }}">Annuler</a>
                                {% endif %}
                            </td>
                        </tr>
                    {%  endfor %}

                    </tbody>
                </table>

            {% else %}
                <p>Aucune sortie trouvée.</p>
            {% endif %}
        </section>
    </main>

{% endblock %}
