<div id="profileDrawer" class="profile-drawer">
    <h2>Mon profil</h2>
    <img src="{{ asset('assets/images/close.svg') }}" alt="" id="closeProfile">
    <ul>
        {% if app.user.profilePicture %}
            <li><img src="{{ asset(app.user.profilePicture) }}" alt=""></li>
        {% endif %}
        <li>Nom : {{ app.user.lastName }}</li>
        <li>Prénom : {{ app.user.firstName }}</li>
        <li>Pseudo : {{ app.user.username }}</li>
        <li>Téléphone : {{ app.user.phone }}</li>
        <li>Email : {{ app.user.email }}</li>
        <li>Site de rattachement : {{ app.user.site.name }}</li>
    </ul>

    <a href="{{ path('app_logout') }}" class="drawer-button">Se deconnecter</a>
    <a href="{{ path('participant_update_profile') }}" class="drawer-button">Modifier mon profil</a>
    <a href="{{ path('participant_update_password') }}" class="drawer-button">Modifier mon mot de passe</a>
    <a href="{{ path('participant_delete') }}" class="drawer-button danger">Supprimer mon compte</a>
</div>
