{% extends 'base.html.twig' %}

{% block title %}Create participant{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset('assets/css/participant.css') }}">{% endblock %}

{% block main %}
    <div class="container">
        <div class="show-user-profile">
            {% if user.profilePicture %}
                <div class="profile-picture">
                    <img src="{{ user.profilePicture }}" alt="Photo de profil de {{ user.username }}">
                </div>
            {% endif %}

            <div class="profile-details">
                <h1>{{ user.username }}</h1>
                <ul>
                    <li>
                        <strong>Nom</strong>
                        {{ user.lastName }}
                    </li>
                    <li>
                        <strong>Prénom</strong>
                        {{ user.firstName }}
                    </li>
                    <li>
                        <strong>Téléphone</strong>
                        {{ user.phone }}
                    </li>
                    <li>
                        <strong>Email</strong>
                        {{ user.email }}
                    </li>
                    <li>
                        <strong>Site de rattachement</strong>
                        {{ user.site.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
