{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block main %}

        <h2>Annuler une sortie</h2>
        <div class="outing">

            {{ form_start(form) }}

            <div style="display: flex; gap: 50px;">
                <!-- Colonne gauche -->
                <div style="flex: 1;">
                    <div>
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div>
                        {{ form_label(form.startingDateTime) }}
                        {{ form_widget(form.startingDateTime) }}
                    </div>
                    <div>
                        {{ form_label(form.registrationDeadline) }}
                        {{ form_widget(form.registrationDeadline) }}
                    </div>


                    <div>
                        {{ form_label(form.outingDetails) }}
                        {{ form_widget(form.outingDetails) }}
                    </div>
                    <div>
                        {{ form_label(form.location) }}
                        {{ form_widget(form.location) }}
                    </div>
                </div>

                <!-- Colonne droite -->
                {#            <div style="flex: 1;">#}
                {#                <div>#}
                {#                    {{ form_label(form.site) }}#}
                {#                    {{ form_widget(form.site) }}#}
                {#                </div>#}

                <!-- Champs imbriqués de "location" -->
                {#                <div>#}
                {#                    {{ form_label(form.location.city) }}#}
                {#                    {{ form_widget(form.location.city) }}#}
                {#                </div>#}
                {#                <div>#}
                {#                    {{ form_label(form.location.name) }}#}
                {#                    {{ form_widget(form.location.name) }}#}
                {#                </div>#}
                {#                <div>#}
                {#                    {{ form_label(form.location.street) }}#}
                {#                    {{ form_widget(form.location.street) }}#}
                {#                </div>#}
                {#                <div>#}
                {#                    {{ form_label(form.location.zipCode) }}#}
                {#                    {{ form_widget(form.location.zipCode) }}#}
                {#                </div>#}
                {#                <div>#}
                {#                    {{ form_label(form.location.latitude) }}#}
                {#                    {{ form_widget(form.location.latitude) }}#}
                {#                </div>#}
                {#                <div>#}
                {#                    {{ form_label(form.location.longitude) }}#}
                {#                    {{ form_widget(form.location.longitude) }}#}
                {#                </div>#}
            </div>
        </div>

        <br>
        <div style="display: flex; gap: 20px; justify-content: center;">
            {{ form_widget(form.save) }}
            {{ form_widget(form.cancel) }}


        </div>


        {{ form_end(form) }}
        </div>
    {% endblock %}




    {# Affichage conditionnel des actions #}
    {% if app.user %}
        {% if app.user == outing.organizer and outing.status.label in ['Créée', 'Ouverte'] %}
            <a href="{{ path('outing_cancel', {id: outing.id}) }}"class="btn btn-danger">Annuler la sortie</a>
        {% endif %}

        {% if app.user != outing.organizer %}
            {% if outing.status.label == 'Ouverte' and outing.registrationDeadline > now %}
                {% if not outing.participants.contains(user) %}
                    <a href="{{ path('outing_subscribe', {id: outing.id}) }}" class="btn btn-success">S'inscrire</a>
                {% else %}
                    <a href="{{ path('outing_unsubscribe', {id: outing.id}) }}">Se désister</a>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}



{% endblock %}

