{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}
{#{% block css %}<link rel="stylesheet" href="{{ asset('css/outing.css') }}">{% endblock %}#}
{% block css %}<link rel="stylesheet" href="{{ asset('assets/css/participant.css') }}">{% endblock %}


{% block main %}
    <main>
        <section class="filter">
            {{  form_start(form) }}

            <h2>Créer une sortie</h2>

            <div class="form-left">
                <div class="form-row">
                    {{ form_row(form.outing.name) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.outing.startingDateTime) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.outing.registrationDeadline) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.outing.maxParticipants) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.outing.duration) }}
                    {{ form_widget(form.outing.duration, {'attr': {'class': 'form-control w-auto'}}) }}
                    <span>minutes</span>
                </div>
                <div class="form-row">
                    {{ form_row(form.outing.outingDetails) }}
                </div>
            </div>


            <div class="form-right">
                <div class="form-row">
                    {{ form_row(form.location.name) }}
                </div>
{#                <div class="form-row">#}
{#                    {{ form_row(form.location.street) }}#}
{#                </div>#}
{#                <div class="form-row">#}
{#                    {{ form_row(form.location.zipCode) }}#}
{#                </div>#}
{#                <div class="form-row">#}
{#                    {{ form_row(form.location.latitude) }}#}
{#                </div>#}
{#                <div class="form-row">#}
{#                    {{ form_row(form.location.longitude) }}#}
{#                </div>#}
            </div>

            <div class="form-buttons">
                {{ form_row(form.save) }}
                {{ form_row(form.publish) }}
                <a href="{{ path('main_home') }}" class="btn btn-danger">Annuler</a>
            </div>

            {{ form_end(form, {'render_rest': false})  }}


            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const select = document.getElementById('location_select'); // adapte l'ID au champ réel
                    if (!select) return;

                    select.addEventListener('change', function() {
                        const locationId = this.value;
                        if (!locationId) return;

                        fetch('/location/' + locationId + '/details')
                            .then(response => response.json())
                            .then(data => {
                                // Remplir les champs du formulaire liés au lieu
                                document.getElementById('location_name').value = data.name || '';
                                document.getElementById('location_street').value = data.street || '';
                                document.getElementById('location_postalCode').value = data.postalCode || '';
                                document.getElementById('location_city').value = data.city || '';
                                // etc.
                            })
                            .catch(error => console.error('Erreur AJAX:', error));
                    });
                });
            </script>

        </section>
    </main>
{% endblock %}
