{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('css/outing.css') }}">{% endblock %}
{#{{% block css %}<link rel="stylesheet" href="{{ asset('assets/css/participant.css') }}">{% endblock %}#}


{% block main %}
    <main>
        <section class="filter">
            {{  form_start(form) }}

            <h2>Créer une sortie</h2>

            <div class="form-left">
                <div class="form-row">
                    {{ form_row(form.outing.name) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.outing.startingDateTime) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.outing.registrationDeadline) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.outing.maxParticipants) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.outing.duration) }}
                    {{ form_widget(form.outing.duration, {'attr': {'class': 'form-control w-auto'}}) }}
                    <span>minutes</span>
                </div>
                <div class="form-row">
                    {{ form_row(form.outing.outingDetails) }}
                </div>
            </div>


            <div class="form-right">
                <div class="form-row" id="select-location-div">
                    {{ form_row(form.chooseLocation, {'attr': {'id': 'select-location'}}) }}
                    <button type="button" id="add-location">+</button>
                </div>

                <div id="location-details" style="display: none;">
                    <div class="form-row">
                        <label for="location_street">Rue :</label>
                        <input type="text" id="location_street" placeholder="Rue" readonly>
                    </div>
                    <div class="form-row">
                        <label for="location_city">Ville :</label>
                        <input type="text" id="location_city" placeholder="Ville" readonly>
                    </div>
                    <div class="form-row">
                        <label for="location_zipCode">Code Postal :</label>
                        <input type="text" id="location_zipCode" placeholder="Code postal" readonly>
                    </div>
                    <div class="form-row">
                        <label for="location_latitude">Latitude :</label>
                        <input type="text" id="location_latitude" placeholder="Latitude">
                    </div>
                    <div class="form-row">
                        <label for="location_longitude">Longitude :</label>
                        <input type="text" id="location_longitude" placeholder="Longitude">
                    </div>
                </div>

                <div class="form-row" id="new-location-form" style="display: none">
{#                    {{ form_row(form.newLocation) }}#}
                    {{ form_row(form.newLocation.name) }}
                    {{ form_row(form.newLocation.street) }}
                    {{ form_row(form.newLocation.city) }}
                    {{ form_row(form.newLocation.zipCode) }}
                    {{ form_row(form.newLocation.latitude) }}
                    {{ form_row(form.newLocation.longitude) }}
                </div>
            </div>

            <div class="form-buttons">
                {{ form_row(form.create) }}
                {{ form_row(form.publish) }}
                <a href="{{ path('main_home') }}" class="btn btn-danger">Annuler</a>
            </div>

            {{ form_end(form, {'render_rest': false})  }}

        </section>
    </main>
    <script>
        document.querySelector('select[name="outing_location_form[chooseLocation]"]').addEventListener('change', function() {
            const locationId = this.value;

            if (locationId) {
                fetch(`/location/${locationId}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('location-details').style.display = 'block';

                        document.getElementById('location_street').value = data.street;
                        document.getElementById('location_city').value = data.city;
                        document.getElementById('location_zipCode').value = data.postalCode;
                        document.getElementById('location_latitude').value = data.latitude;
                        document.getElementById('location_longitude').value = data.longitude;
                    })
                    .catch(error => console.error('Erreur : ', error));
            } else {
                document.getElementById('location-details').style.display = 'none';
                // Réinitialise champs si aucun lieu sélectionné
                document.getElementById('location_street').value = '';
                document.getElementById('location_city').value = '';
                document.getElementById('location_zipCode').value = '';
                document.getElementById('location_latitude').value = '';
                document.getElementById('location_longitude').value = '';
            }
        });

        document.getElementById('add-location').addEventListener('click', function () {
            document.getElementById('new-location-form').style.display = 'block';

            const select = document.querySelector('select[name="outing_location_form[chooseLocation]"]');
            select.value = '';

            document.getElementById('location-details').style.display = 'none';
        });
    </script>
{% endblock %}
