{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
    {#
    <div class="login-detail">
        <p>Date du jour</p>
        <p>Participant</p>
    </div>

    #}


    <main>
        <h1>Filtrer les sorties</h1>

        <section class="filter">

            {{ form_start(filterForm) }}
                {{ form_row(filterForm.site) }}
                {{ form_row(filterForm.outingName) }}
                {{ form_row(filterForm.startDate) }}
                {{ form_row(filterForm.endDate) }}
                <button class="btn btn-primary">Rechercher</button>
            {{ form_end(filterForm) }}
        </section>

        <section class="results">
            {% if outings is not empty %}
                <ul>
                    {% for outing in outings %}
                        <li>{{ outing.name }}</li>
                    {%  endfor %}
                </ul>
            {% else %}
                <p>Aucune sortie trouvée.</p>
            {% endif %}
        </section>

{#        <section>#}
{#            <a><button>Créer une sortie</button></a>#}
{#        </section>#}

    </main>

{% endblock %}
