<header>
    <nav>
        <div id="nav-title">
            <a href="{{ path('main_home') }}">Sortir.com</a>
        </div>

        <div class="button-list">
            {% if app.user %}
                <p class="nav-button"><a href="{{ path('main_home') }}">Accueil</a></p>
                <p class="nav-button">Hello {{ app.user.firstName }} !</p>
                <img src="{{ asset('assets/images/account_circle.svg') }}" alt="" id="openProfile">
            {% else %}
                <p class="nav-button"><a href="{{ path('participant_create') }}">Register</a></p>
                <p class="nav-button"><a href="{{ path('app_login') }}">Log in</a></p>
            {% endif %}
        </div>
    </nav>
</header>
