{% extends 'base.html.twig' %}

{% block title %}All participants{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">{% endblock %}

{% block main %}
    <div class="container">
        <h2>Liste des participants</h2><a href="{{ path('admin_create_user') }}" class="btn">Create participant</a><a href="{{ path('admin_import_users') }}" class="btn">Importer des participants</a>
        {% for participant in participants %}
            <div class="participant-row">
                <div class="participant-field">
                    <span class="label">Nom</span>
                    <span class="value">{{ participant.lastName }}</span>
                </div>
                <div class="participant-field">
                    <span class="label">Prénom</span>
                    <span class="value">{{ participant.firstName }}</span>
                </div>
                <div class="participant-field">
                    <span class="label">Pseudo</span>
                    <span class="value">{{ participant.username }}</span>
                </div>
                <div class="participant-field">
                    <span class="label">Téléphone</span>
                    <span class="value">{{ participant.phone }}</span>
                </div>
                <div class="participant-field">
                    <span class="label">Email</span>
                    <span class="value">{{ participant.email }}</span>
                </div>
                <div class="participant-field">
                    <span class="label">Active</span>
                    <span class="value">{{ participant.active ? 'true' : 'false' }}</span>
                </div>
                <div class="participant-field">
                    <span><a href="{{ path('admin_disable_user', {'id': participant.id}) }}" class="btn">{{ participant.active ? 'Désactiver' : 'Activer' }}</a></span>
                    <span><a href="{{ path('admin_delete_user', {'id': participant.id}) }}" class="btn btn-danger">Supprimer</a></span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
